.navbar{
    height: 80px;
}

.logo{
    height: 120px;
    margin-top: -40px;
    margin-left: -10px;
}
.sec{
    cursor: pointer;
    border: 1px solid black;
    padding: 20px;
    height: 200px;
    width: 700px;
    margin: auto;
}
.right{
    margin-top: -40px;
}