.navbar{
    height: 80px;
}

.logo{
    height: 120px;
    margin-top: -40px;
    margin-left: -10px;
}
.sec{
    cursor: pointer;
    border: 1px solid black;
    padding: 20px;
    height: 200px;
    width: 700px;
    margin: auto;
    
}
.sec:hover{
    transform: scale(1.1);
    transition: 0.7s ease;
}
.right{
    margin-top: -40px;
}
.bt{
    font-size: 15px;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 7px;

}