.product-title{
    margin: 50%;
}
.navbar{
    height: 80px;
}
.new{
    border: 1px solid brown;
    font-size: 15px;
    color: white;
}
.logo{
    height: 120px;
    margin-top: -40px;
    margin-left: -10px;
}
.rating-img{
    height: 25px;
    margin-top: -50px;
}
.add-btn{
    background-color: #FA8900;
    border: 1px solid rgb(255, 81, 0);
    padding: 1px;
    border-radius: 5px;
    height: 28px;
    width: 150px;
    box-shadow: 1px 0px 5px peru;
}
#color-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
}
.add-btn:hover {
    background-color: gold;
  }
  .mainImg{
    /* width: 500px; */
    height: 600px;
  }
  .mainImg1{
    width: 700px;
  }