/* body{
    background-color: aqua;
} */
a{
    text-decoration: none;
}
.navbar{
    height: 80px;
}
.logo{
    height: 120px;
    margin-top: -40px;
    margin-left: -10px;
}

.product{
    height: 550px;
}
.card{
    width: 250px;
}
.arrow{
    height: 50px;
    
}
.a:hover{
    cursor:pointer;
    transform: scale(1.1);
    transition: 0.5s ease;
}
.lp-img{
    height: 180px;
}
.cart{
    border-radius: 50%;
    height: 60px;
    margin-left: 1580px;
    margin-top: 20px;   
}
.msg{
    top: 130px;
    right: 14px;
}
.right{
    margin-top: -40px;
}
.phones{
    height: 250px;
    width: 200px;
}
.star-div{
    bottom: 370px;
    left: 167px;
}
.star-img{
    height: 40px;
    width: 90px;   
}
.seller-div{
    bottom: 253px;
    left: 180px;
    
}
.sell{
    font-size: 12px;
}

.moon-div{
    background-color: black;
    border-radius: 50%;
    bottom: 20px;
    left: 30px;

}
.home{
    text-decoration: none;
}
.moon{
    height: 50px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;


}