/* body{
    background-color: aqua;
} */

.navbar{
    height: 80px;
}

.logo{
    height: 120px;
    margin-top: -40px;
    margin-left: -10px;
}

.card{
    width: 250px;
}
.lp-img{
    height: 180px;
}
.cart{
    border-radius: 50%;
    height: 70px;
    border: 1px solid black;
    margin-left: 1580px;
    margin-top: 20px;
    
}