/* body{
    background-color: aqua;
} */

.navbar{
    height: 80px;
}
.logo{
    height: 120px;
    margin-top: -40px;
    margin-left: -10px;
}
.product{
    height: 550px;
}
.card{
    width: 250px;
}
.arrow{
    height: 50px;
    
}
.lp-img{
    height: 180px;
}
.cart{
    border-radius: 50%;
    height: 70px;
    border: 1px solid black;
    margin-left: 1580px;
    margin-top: 20px;   
}
.msg{
    top: 130px;
    right: 14px;
}
.right{
    margin-top: -40px;
}
.phones{
    height: 250px;
    width: 200px;
}
.star-div{
    bottom: 370px;
    left: 167px;
}
.star-img{
    height: 40px;
    width: 90px;   
}
.seller-div{
    bottom: 253px;
    left: 180px;
    
}
.sell{
    font-size: 12px;
}